 * {
     box-sizing: border-box;
 }
 
 

.container{
    border:1px solid;
    width:513px;
    height:513px;
    background-color: #CBCBCB;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    }


  
.minesweeper{
    display: flex;
    flex-wrap: wrap;
    border-top: ridge 15px #CBCBCB;
    border-left: ridge 15px #CBCBCB;
    border-right: inset 15px #FDFEFD;
    border-bottom: ridge 15px #FDFEFD;
}




.minesweeper > div{
    width: 60px;
    height: 60px;
    border-right: 2px dotted black;
    border-bottom: 2px dotted black;
    padding: 15px;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    position: relative;
}

.one{
    color: #5600FF;
}

.two{
    color:#009F00
    
}

.three{
    color:#FF0000;
}


.mine{
    background-image: url("mine.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.minesweeper div div:hover{
    background-color: #CBCBCB;
    opacity: 0;
}
 

.minesweeper div div{
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    background-color: #CBCBCB;
    width: 100%;
    height: 100%;
    cursor:pointer;
    position:absolute;
    top: 0;
    left:0;
}
